<?xml version="1.0" encoding="UTF-8"?> 
<config>

<tier category="1">
    <tech>
        <title>Biplanes</title>
        <id>0-0-1</id>
        <prerequisite>0-0</prerequisite>
    </tech>
</tier>

<tier category="2">
    <tech>
        <title>Early Aircraft</title>
        <id>0-0</id>
    </tech>
</tier>

<tier category="3">
    <tech>
        <title>Gas Attack</title>
        <id>0</id>
    </tech>
</tier>

</config>